infrastructure/docker-compose/volumes/kafka/broker-1/*
infrastructure/docker-compose/volumes/kafka/broker-2/*
infrastructure/docker-compose/volumes/kafka/broker-2/*
infrastructure/docker-compose/volumes/zookeeper/data/*
infrastructure/docker-compose/volumes/zookeeper/transactions/*